.linkButton {
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	vertical-align: baseline;
	border-radius: .25em;
	text-decoration:none !important;
	padding-bottom:2px;
	display:inline-table;
	margin-top: 4px !important;
}
.linkButton-default {
	color: black !important;
    border-color: #ccc;
    cursor: pointer !important;
    background-color: #e0e0e0;
    background-image: linear-gradient(to bottom, #fff 0, #e0e0e0 100%);
    color:black !important;
}
.linkButton-info {
	color: white !important;
    border-color: #2aabd2;
    background-color: #5bc0de;
    cursor: pointer !important;
    background-image: linear-gradient(to bottom, #5bc0de 0, #2aabd2 100%);
}

.linkButton-primary {
	color: white !important;
    border-color: #2d6ca2;
    background-color: #428bca;
    cursor: pointer !important;
    background-image: linear-gradient(to bottom, #428bca 0, #2d6ca2 100%);
}

.linkButton-success {
	color: white !important;
    border-color: #3e8f3e;
    background-color: #5cb85c;
    cursor: pointer !important;
    background-image: linear-gradient(to bottom, #5cb85c 0, #419641 100%);
}

.linkButton-warning {
	color: white !important;
    border-color: #e38d13;
    cursor: pointer !important;
    background-color: #f0ad4e;
    background-image: linear-gradient(to bottom, #f0ad4e 0, #eb9316 100%);
}

.linkButton-danger {
	color: white !important;
    border-color: #ac2925;
    background-color: #d9534f;
    cursor: pointer !important;
    background-image: linear-gradient(to bottom, #d9534f 0, #c12e2a 100%);
}