html,body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 11pt;
    font-family:"微软雅黑";
    overflow: hidden;
    background-color: #000000;
    background-image: url("../images/bg.png");
    background-repeat: repeat;
}
.cstm-main-panel {
    margin-left: 0;
    margin-top: 10px;
}

.cstm-col-padding {
    padding-left: 5px;
    padding-right: 5px;
}

.glyphicon {
    font-size: 24px;
}

.glyphicon:hover {
    cursor: pointer;
    color: #048bf4;
}

.glyphicon:focus {
    cursor: pointer;
    color: #005A6D;
}

#operateBadgeChartPane {
    cursor: pointer;
    position: relative;
    left: -10px;
    z-index: 10;
    background-color: #FF4444;
}
@media screen and (max-width: 1200px) {
    #menuBarPane {
        display: none;
    }
    .cstm-qunmumber-pane{
        display: none;
    }
    .cstm-chart-pane{
        display: none;
    }
}