/* 覆写默认的最小化样式 */
.dojoxDockRestoreButton {
	background:url('../images/0608369.gif') no-repeat center center;
	width:16px; height:16px;
	overflow:hidden; 
	float:left;
	margin-top:2px;
}
#dockBar {
    right: 5px;
    position: absolute;
    bottom: 4px;
    z-index: 110;
    border:0px;
    height:25px;
}